* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.container p {
  font-size: 1.2rem;
  opacity: 0.9;
}
